.background{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/wallpaper.jpg");
}

#login.background{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/wallpaper_login.jpg");
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content-container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-color: #006B38FF;
    border-style: solid;
    border-width: 3px;
    padding: 2%;
    margin: 2% 10% 2% 1%;
    max-width: 70%;
    color: rgb(255, 255, 255);
    background-color: #101820;
}

#login.content-container{
    margin: 13% 25% 0% 25%;
    background-color: #192633;
    border-width: 0px;
}

div#menu.content-container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-color: #006B38FF;
    border-style: solid;
    border-width: 3px;
    padding: 2%;
    top: 0;
    max-width: 100%;
    margin: 0px 0px 2% 0px;
    /* margin: 2% 10% 2% 1%; */
    color: rgb(255, 255, 255);
    background-color: #101820;
}

.row{
    margin: 1% 0% 1% 0%;
    flex-direction: row;
}

.left{
    text-align: left;
}

.rigth{
    text-align: right;
}

.center{
    text-align: center;
}

.menu-list{
    font-size: 20px;
    /* justify-content: space-around; */
}

a{
    color: rgb(2, 168, 88);
}

a.hidden-link{
    margin: 1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a.hidden-link:hover{
    color: rgb(88, 243, 168);
}

button.button-pattern{
    color: rgb(0, 0, 0);
    min-height: 30px;
    font-weight: bold;
    border-radius: 6px;
    border-color: rgb(3, 65, 35);
    background-color: rgb(27, 202, 117);
}

button.button-pattern:focus{
    outline: 0;
}

button.button-pattern:hover{
    border-radius: 6px;
    border-color: rgb(3, 65, 35);
    background-color: rgb(72, 255, 167);
}

button.button-pattern:active{
    border-radius: 6px;
    color: rgb(255, 255, 255);
    border-color: rgb(23, 167, 97);
    background-color: rgb(3, 51, 30);   
}

.image{
    
    display: inline-block;
    /* float: left; */
    margin: 2%;
    max-width: 260px;
}

.image-section{
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(3, 46, 25);
    background-color: #0a0e13;
}

.image-text{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    max-width: 280px;
}

.form{
    padding: 2%;
    display: block;
    border-color: rgb(80, 180, 132);
    text-align: left;
}

fieldset.form button.button-pattern{
    margin: 1%;
}

.field{
    display: grid;
    max-width: 30%;
    margin: 1%;
}

div.field textarea{
    display: grid;
    min-width: 200%;
    min-height: 100px;
}

.login-field{
    padding: 0% 25% 0% 25%;
    display: grid;
    margin: 2%;
}